.bodyBackground {
  background-image: url("bg1.jpg");
  background-position: center;
  background-size: cover;
}

body {
  cursor: pointer;
}

h1 {
  color: crimson;
  font-size: 40px;
}

#canvas1 {
  border-width: 10px;
  background-color: cornsilk;
  border-style: ridge;
}

button {
  background-color: lawngreen;
  border: none;
  color: white;
  padding: 10px 42px;
  font-size: 16px;
}

input {
  margin-right: 20px;
}